@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-list;

.#{$block} {
  @include fd-reset();
  @include list();

  &__title {
    font-size: var(--sapFontLargeSize);
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: 0;
    }
  }
}
