@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-select;

.#{$block} {
  @include fd-reset();
  @include fd-form-text();
  @include fd-dropdown($block);

  display: block;
  padding-right: 0;

  &__control {
    height: var(--fd-forms-height);
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .#{$block}__button {
      border-radius: 0;
      margin-left: 0.5rem;
    }

    @include fd-rtl() {
      text-align: right;
      padding-right: $fd-forms-padding;
      padding-left: 0;
    }
  }

  &__text {
    font-size: var(--sapFontSize);
  }

  &--inline {
    display: inline-block;
  }

  &--compact {
    .#{$block}__control {
      height: var(--fd-forms-height-compact);
    }
  }
}
